.container {  
    display: flex;  
    justify-content: center;
    opacity: 0.5;
}

.mr-auto {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

Nav.Link {
    margin-right: 40px;
}

.mr-auto Nav.Link {
    margin-right: 10px;
}

